
body{
    font-family: 'Spartan', sans-serif;
}

/* 1 section */

.home{
    height: 100vh;
    background-image: url('../images/intro-bg.jpg');
    background-size: cover;
    background-position: center center;
}
.home .layer{
    background-color: rgb(0, 0, 0, 0.5);
    height: 100%;
}
.parent-line-bottom{position: relative;}
nav{background-color: rgb(0, 0, 0, 0.7)}
.nav-link{
    padding-left: 0 !important;
    padding-right: 2.2rem !important;
    font-weight: 700;
    font-size: 0.8rem;
}
.navbar-brand{font-weight: 700; font-size: 1.5rem;}
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
  .line-bottom-active, .line-bottom{
      position: relative;

} 
.line-bottom-active::after, .line-bottom::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: all 0.5s ease;
    opacity: 0;
}
.line-bottom-active::after{opacity: 1; width: 2.3rem;}
.line-bottom:hover::after {opacity: 1; width: 2.3rem;}
.heading{
    color: white;
    font-size: 50px;
}
.heading h1{font-size: 4rem; font-weight: 700;}
.heading h2{
    animation: typing 4s infinite;
    overflow: hidden;
    white-space: nowrap;
    width: 70%;
    margin: 0 auto;
}
@keyframes typing{
    0%{
       width: 70%
    }
    50%{
       width: 6ch;
    }
    100%{
        width: 70%;
    }

}

/* 2 section */

.about{
    background-color: #F4F4F4;
}
.about .container{
    background-color: white;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.about span{
    font-weight: bold;
}
.about .first-p{
    font-size: 0.9rem;
}
.about h5{
    font-weight: 600;
    font-size: 1.1rem;
}
.about h6{
    font-size:0.8rem;
}
.progress{
    height: 0.7rem;
}

.about .second-p{
    font-size: 1.1rem;
    
}
.blue-line{
    position: relative;
    font-weight: bold;
}
.blue-line::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 3.5em;
    height: 3px;
    background-color: #1078FD;
}    

/* 3 section */

.services{
    background-color: #F4F4F4;
}
.services h2{
   font-weight: bolder;
}
.services-heading p{
    position: relative;
}
.services-heading p::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 3em;
    height: 5px;
    background-color: #1078FD;  
} 
.services .card{
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 1rem;
    padding: 1rem 0;
    margin-bottom: 2rem;
} 
.services .card h5{
    font-weight: bold;
} 
.services .card p{
    font-size: 0.85rem;
    margin-bottom: 2rem;
}
.services .icon{
    border: 0.5rem solid #1078FD;
    padding: 3rem;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    margin: 0 auto 1rem;
    transition: all 0.5s ease;
    position: relative;
    
}
.services .icon i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.services .card:hover .icon{
    background-color: #1879F5;
    border: 0.5rem solid #CCE0F7;
    color: white;
}

/* 4 section */

.acheivments{
    background-image: url(../images/counters-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.acheivments .layer{
    background-color: rgba(20, 131, 221, 0.6);
    height: 100%;
    color: white;
    padding: 6rem 0;
}
.acheivments h5{
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1.5rem 0;
}
.acheivments .icon{
    border: 0.5rem solid #9dc7f7;
    padding: 2rem;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    margin: 0 auto 1rem;
    transition: all 0.5s ease;
    position: relative;
}
.acheivments .icon i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* 5 section */

.portfolio{
    background-color: #F4F4F4;
}
.portfolio h2{
   font-weight: bolder;
}
.portfolio-heading p{
    position: relative;
}
.portfolio-heading p::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 3em;
    height: 5px;
    background-color: #1078FD;  
} 
.portfolio .card{
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 1rem;
    margin-bottom: 2rem;
} 

.portfolio .card h5{
    font-weight: bold;
    font-size: 1rem;
} 
.portfolio .card h6{
    font-size: 0.7rem;
}
.portfolio .card h6 span{
    color: rgb(66, 140, 238);
}
.portfolio .card-body{
    position: relative;
    
}
.portfolio .card i{
    color: #1078FD;
    border: 1px solid #1078FD;
    font-size: 1rem;
    padding: 0.5rem;
    position: absolute;
    bottom: 30%;
    right: 5%;
}
.portfolio .card .my-image{
    overflow: hidden;
}
.portfolio .card img{
    transition: all 0.8s ease;
}
.portfolio .card:hover img{
    transform: scale(1.3);
}

/* 6 section */

.marta{
    background-image: url(../images/overlay-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
}
.marta .layer{
    background-color: rgba(20, 131, 221, 0.6);
    height: 100%;
    color: white;
    text-align: center;
}
.marta ol{
    margin-bottom: -2rem;
}

/* 7 section */

.blog{
    background-color: #F4F4F4;
}
.blog h2{
   font-weight: bolder;
}
.blog-heading p{
    position: relative;
}
.blog-heading p::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 3em;
    height: 5px;
    background-color: #1078FD;  
} 
.blog .card{
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 1rem;
    margin-bottom: 2rem;
} 
.blog .card h5{
    font-weight: bolder;
    font-size: 1.1rem;
    transition: all 0.5s ease;
    margin-top: 1rem;
} 
.blog .card h5:hover{
    color: #1078FD;
}

.blog .card-footer img{
    width: 2rem;
}
.blog .card-footer span{
    font-size: 0.9rem;
}
.blog .card-footer .left span{
    transition: all 0.5s ease;
}
.blog .card-footer .left:hover span{
    color: #1078FD;
}
.blog .card-body{
    position: relative;
}
.blog .card-body h6{
    position: absolute;
    background-color: #1078FD;
    padding: 0.5rem 0.8rem;
    color: white;
    font-size: 0.1rem;
    font-weight: 600;
    border-radius: 0.2rem;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
}
.blog .card-body p{
    font-size: 0.9rem;
}

/* 8 section */

.contact{
    background-image: url(../images/overlay-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.contact .layer{
   height: 100%;
   background-color: rgba(20, 131, 221, 0.6);
   padding: 8rem 7.5rem 2rem;
   
}
.contact .container{
   background-color: white;
}
.contact textarea{
    height: 9rem;
    width: 100%;
}
.contact input{
    height: 2.5rem;
}
.contact input, .contact textarea{
    padding-top: 0.5rem;
    padding-left: 1rem;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}
.contact .my-button{
    background-color: #1879F5;
    color: white;
    padding: 0.8rem 2rem;
    border-radius: 2rem;
    border: 4px solid #1879F5;
    transition: all 0.5s ease;
    margin-bottom: 2rem;
}
.contact .my-button:hover{
    background-color: #0B62D1;
    border: 4px solid rgb(230, 238, 246);
}
.contact h3{
    font-weight: bold;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}
.contact h3::after{
    content: "";
    width: 6.5rem;
    height: 0.2rem;
    background-color: #1879F5;
    position: absolute;
    top: 2.5rem;
    left: 15px;
}
.contact .fa-map-marker-alt, .contact .fa-phone-alt, .contact .fa-envelope{
    color: #1078FD;
    font-size: 0.8rem;
}
.contact span{
    margin-left: 1rem;
    font-size: 0.8rem;
    display: inline-block;
    margin-bottom: 0.7rem;
}
.contact .social{
    margin-top: 0.5rem;
}
.contact .social .icon{
    border: 0.2rem solid #1879F5;
    padding: 1.2rem;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    transition: all 0.5s ease;
    position: relative;
    margin-right: 1rem;
}
.contact .social i{
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.contact .social .icon:hover{
    background-color: #1879F5;
    border: 0.2rem solid #CCE0F7;
    color: white;
}
.footer{
    text-align: center;
    margin: 3rem auto 0;
    color: white;
    font-size: 0.8rem;
    line-height: 2rem;
}
